html, body {
  font-family: "Century Gothic";
  color: #81a1c1;
  background-color: #2e3440;
  text-align: left;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-size: large;
  font-weight: 500;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
p, h1, h2, h3, h4, h5, h6, ul, li, .link { 
    padding: 0 20px;
  }
::-webkit-scrollbar {
  height: 10px;              /* height of horizontal scrollbar ← You're missing this */
  width: 10px;               /* width of vertical scrollbar */
}
::-webkit-scrollbar-track {
  background-color: #373d4a;       /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  background-color: #b48ead;    /* color of the scroll thumb */
}
#about {
  scroll-behavior: smooth;
}
h1 {
  color: #d8dee9;
}
h3 {
  color: #a3be8c;
}
h5 {
  color: #88c0d0;
}
.smol {
  color: #b48ead;
}
.a {
  color: #ebcb8b;
  text-decoration: underline;
}
.dark {
  background-color: #373d4a;
}
.darker {
  background-color: #2e3440;
}
a {
  text-decoration: none;
  color: #b48ead;
}
ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.awards, pre {
  overflow: auto;
}
.awards {
  position: relative;
  left: 0;
}
code {
  color: #d8dee9;
}
pre {
  text-align: left;
  background-color: #21252E;
  padding: 16px 0 0 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  height: auto;
}
.code::-webkit-scrollbar-track { background-color: #21252E; }
.code::-webkit-scrollbar-thumb { background-color: #81a1c1;}
.code::-webkit-scrollbar, pre::-webkit-scrollbar-thumb, pre::-webkit-scrollbar-track {
  border-radius: 10px;
}
.awards, .title {
  display: flex;
  flex-direction: row;
}
img {
  max-width: 100%;
}
.title a {
  margin: auto 0;
  overflow-x: hidden;
}
.link {
  align-items: left;
  display: flex;
  flex-wrap: wrap;
}
button:hover, button:hover a {
  cursor: pointer;
  background-color: #b48ead;
  color: #2e3440;
}
button a {
  font-size: 2.2vh;
}
button {
  border: none;
  background-color: #373d4a;
  padding: 1.25vh;
  margin: 1.5vh 3vh 0 0;
  border-radius: 4vh;
  text-align: center;
}
.here, .here a {
  background-color: #b48ead;
  color: #2e3440;
}

.main-wrapper {
  position: relative;
  perspective: 1px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
.parallax-wrapper-back, .parallax-wrapper-front, .content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.parallax-wrapper-back, .content-wrapper {
  transform: translate3d(0, 0, -0.5px) scale(1.5);
}
.content, .quart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 900px;
}
.content {
  min-height: 600px;
}
.full {
  height: 100vh;
  min-height: 600px;
}
.half {
  height: 50vh;
  min-height: 300px;
}
.quart {
  height: 25vh;
  min-height: 150px;
}
.ten {
  height: 10vh;
  min-height: 60px;
}