html, body {
  background-color: #23272A;
  color: #63CF97;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}

a {
  /* text-decoration: line-through; */
  color: whitesmoke;
  /* text-decoration-color: whitesmoke; */
}
nav {
  position: relative;
  color: whitesmoke;
  padding-top: 7%;
}
ul {
  list-style-type: none;
  padding: 0;
}
.portfolio {
  /* max-width: 768px; */
  display: flex;
  flex-direction: column;
}
.portfolio div img {
  height: 100vh;
  max-width: 768px;
}
.main-wrapper {
  position: relative;
  perspective: 1px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}
.img {
  max-width: 600px;
}
.scroll-wrapper-back, .scroll-wrapper-front, .content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.scroll-wrapper-back {
  transform: translate3d(-5px, 0, -0.5px) scale(1.5);
}
.content-wrapper {
  transform: translate3d(-5px, 0, -0.5px) scale(1.5);
}
.matcha {
  background-color: #2C2F33;
  color: #63CF97;
}
.dark {
  background-color: #23272A;
  color: #63CF97;
}

.full {
  height: 100vh;
}
.scroll {
  height: 50vh;
}
.part {
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  max-width: 768px;
}
.slide-h2 {
  animation-duration: 1.0s;
}
.slide-i {
  animation-duration: 1.5s;
}
.slide-p {
  animation-duration: 2.0s;
  margin: 0;
}
.slide-h2, .slide-i, .slide-p {
  animation-name: slide-side;
  animation-iteration-count: 1;
  overflow-x: hidden;
}
@keyframes slide-side {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen and (max-height: 500px) {
  body { 
     font-size: 0.8em; 
  }
}

@media only screen and (max-height: 400px) {
  body { 
     font-size: 0.6em; 
  }
}

@media only screen and (max-height: 300px) {
  body { 
     font-size: 0.4em; 
  }
}
@media only screen and (max-height: 200px) {
  body { 
     font-size: 0.2em; 
  }
}