html, body {
  font-family: "Century Gothic";
  background-color: #23272A;
  color: #63CF97;
  text-align: center;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
}
a {
  text-decoration: underline;
  color: whitesmoke;
  text-decoration-color: whitesmoke;
}
ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.portfolio img {
  width: 100%;
  max-width: 1080px;
}
.content, .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content {
  position: relative;
  margin: 0 auto;
  max-width: 768px;
  min-height: 600px;
}
.link {
  padding-top: 6%;
}
.main-wrapper {
  position: relative;
  perspective: 1px;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}
.parallax-wrapper-back, .parallax-wrapper-front, .content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}
.parallax-wrapper-back {
  transform: translate3d(-5px, 0, -0.5px) scale(1.5);
}
.content-wrapper {
  transform: translate3d(-5px, 0, -0.5px) scale(1.5);
}
.dark {
  background-color: #2C2F33;
  color: #63CF97;
}
.darker {
  background-color: #23272A;
  color: #63CF97;
}
.full {
  height: 100vh;
  min-height: 600px;
}
.half {
  height: 50vh;
  min-height: 300px;
}
@keyframes slide-side {
  from {
    margin-left: 100%;
    width: 400%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.slide-slow, .slide-slower, .slide-slowest {
  animation-name: slide-side;
  animation-iteration-count: 1;
  overflow-x: hidden;
}
.slide-slow {
  animation-duration: 1.0s;
}
.slide-slower {
  animation-duration: 1.5s;
}
.slide-slowest {
  animation-duration: 2.0s;
  margin: 0;
}

@media only screen and (max-height: 1080px) and (max-width: 1920px) {
  .portfolio img {
    width: 600px;
  }
}