html, body {
  background-color: #23272A;
  color: #63CF97;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0 auto;
}

.nav {
  position: relative;
}
a {
  /* text-decoration: line-through; */
  color: whitesmoke;
  /* text-decoration-color: whitesmoke; */
}
nav {
  position: relative;
  color: whitesmoke;
  padding-top: 7%;
}
ul {
  list-style-type: none;
  padding: 0;
}
.portfolio {
  /* max-width: 768px; */
  display: flex;
  flex-direction: column;
}
.portfolio div img {
  height: 100vh;
  max-width: 768px;
}
.main {
  /* perspective: 1px; */
  height: 100vh;
  width: 100vw;
  /* max-height: 100vh; */
  margin: 0 auto;
  padding: 0;
}
.img {
  max-width: 600px;
  
}
.scroll-wrapper-back, .scroll-wrapper-front, .content-wrapper {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  float: left;
  min-width: 100vw;
  min-height: 100vh;
}
.scroll-wrapper-back {
  transform: translate3d(-5px, 0, -0.5px) scale(1.5);
}
.content-wrapper {
  transform: translate3d(-5px, 0, -0.38px) scale(1.38);
}

.full {
  min-height: 100vh;
  max-height: 100vh;
  width: 100vw;
}
.scroll {
  height: 50vh;
  max-height: 50vh;
  width: 100vw;
}
.part {
  /* position: relative; */
  /* top: 50%; */
  margin: 0 auto;
  width: 60vw;
  /* transform: translateY(-50%); */
  min-width: 60vw;
  height: 100vh;
}